@charset "UTF-8";

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
/* Your custom styles */
main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

body {
  overflow-y: scroll;
}

.app-container {
  background-color: rgba(223, 244, 250, 0.452);
  min-height: 100vh;
}

/* Styles for the container */
/* .checkout-steps {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
} */

/* Styles for the active step */
.active-step {
  background-color: #5a5a5a13;
}

@media (max-width: 767px) {
  .custom-list-group {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

@media (max-width: 767px) {
  .custom-list-group-2 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}


